<!--
    Copyright © 2025 - 2026 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{/*
    Compatibility shim over utilities/ArgsSchema.html. Reproduces the legacy return shape
    {types, udt, err, errmsg, warnmsg}. Deprecated: new code should consume ArgsSchema directly.
*/}}

{{ define "_partials/inline/legacy-def.html" }}
    {{ $node := . }}
    {{ $type := $node.types }}
    {{ if eq (len $node.types) 1 }}{{ $type = index $node.types 0 }}{{ end }}
    {{ $def := dict "type" $type "optional" $node.optional }}
    {{ range $field := slice "default" "config" "options" "position" "deprecated" "alternative" "release" "parent" "comment" }}
        {{ if isset $node $field }}{{ $def = merge $def (dict $field (index $node $field)) }}{{ end }}
    {{ end }}
    {{ with $node.group }}
        {{ $group := . }}
        {{ if eq (len .) 1 }}{{ $group = index . 0 }}{{ end }}
        {{ $def = merge $def (dict "group" $group) }}
    {{ end }}
    {{ return $def }}
{{ end }}

{{ $compiled := partial "utilities/ArgsSchema.html" (dict
    "structure" (.structure | default "")
    "bookshop"  (.bookshop | default "")
    "child"     (.child | default "")
) }}

{{ $types := dict }}
{{ $udt := dict }}
{{ range $key, $node := $compiled.schema }}
    {{ $types = merge $types (dict $key (partial "inline/legacy-def.html" $node)) }}
    {{ if $node.children }}
        {{ $reflect := "map[string]interface {}" }}
        {{ if eq $node.kind "list" }}{{ $reflect = "[]interface {}" }}{{ end }}
        {{ $members := dict "_reflect" $reflect }}
        {{ range $member, $childNode := $node.children }}
            {{ $members = merge $members (dict $member (partial "inline/legacy-def.html" $childNode)) }}
        {{ end }}
        {{ $udt = merge $udt (dict $node.udtType $members) }}
    {{ end }}
{{ end }}

{{ return (dict "types" $types "udt" $udt "err" $compiled.err "errmsg" $compiled.errmsg "warnmsg" slice) }}
