<!--
    Copyright © 2024 - 2026 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{/*
    Compatibility shim over utilities/Args.html. Preserves the legacy flat return map: argument
    values under their declared names plus camelCase duplicates, merged with the bookkeeping keys
    err, errmsg, warnmsg, and default. New code should call utilities/Args.html directly.
*/}}

{{ $structure := .structure }}
{{ $bookshop := .bookshop }}
{{ $child := .child }}
{{ $named := .named | default true }}
{{ $args := .args | default dict }}
{{ $group := .group }}

{{ $error := false }}
{{ $errmsg := slice }}
{{ $warnmsg := slice }}
{{ $params := dict }}
{{ $default := slice }}

{{ if and (not $structure) (not $bookshop) }}
    {{ $errmsg = $errmsg | append (printf "partial [utilities/InitArgs.html] - Missing value for param 'structure' or 'bookshop'") }}
    {{ $error = true }}
{{ else }}
    {{ if hasPrefix $structure "bookshop-" }}
        {{ $bookshop = strings.TrimPrefix "bookshop-" $structure }}
        {{ $structure = "" }}
    {{ end }}

    {{ $res := partial "utilities/Args.html" (dict
        "structure" $structure
        "bookshop"  $bookshop
        "child"     $child
        "args"      $args
        "named"     $named
        "group"     $group
        "strict"    false
    ) }}
    {{ $error = $res.err }}
    {{ $errmsg = $res.errmsg }}
    {{ $warnmsg = $res.warnmsg }}

    {{ if not $error }}
        {{ $compiled := partial "utilities/ArgsSchema.html" (dict "structure" $structure "bookshop" $bookshop "child" $child) }}
        {{ range $key, $node := $compiled.schema }}
            {{ $val := index $res.args $node.camelKey }}
            {{ if ne $val nil }}
                {{ $params = merge $params (dict $key $val) }}
                {{ if ne $node.camelKey $key }}
                    {{ $params = merge $params (dict $node.camelKey $val) }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ range $res.defaulted }}
            {{ if not (strings.Contains . ".") }}{{ $default = $default | append . }}{{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $params = merge $params (dict "err" $error "errmsg" $errmsg "warnmsg" $warnmsg "default" $default) }}
{{ return $params }}
